<h2><%= @contacts.importance %> <%= @contacts.first_name %> <%= @contacts.last_name %></h2>
<p><%= @contacts.email %></p>
<p><%= edit_button(@contacts.id) %></p>
<p><%= delete_button(@contacts.id) %></p>